.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    user-select: none;
    flex-shrink: 0;
    background-color: var(--avatar-bg);
    color: color-mix(in srgb, var(--avatar-bg), black 50%);
}